---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Solutions from '../components/Solutions.astro';
import Expertise from '../components/Expertise.astro';
import Industries from '../components/Industries.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="BlackCert - Full-Stack Security Solutions">
  <Header />
  <main>
    <Hero />
    <Solutions />
    <Expertise />
    <Industries />
    <Contact />
  </main>
  <Footer />
</Layout>